<% if (posts.length > 0) { %>
    <div class="grid">
        <% for(post of posts) { %>
                    <p><%= post.author %></p>
                    <p><%= post.body %></p>
                    <!-- and so on for other properties -->
        <% } %>
    </div>
<% } else { %>
    <h3>No posts found!</h3>
<% } %>